@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", bold;
  font-size: medium;
  background-color: #021517;
  color: #a0bbbd;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  height: 50rem;
  .planet{
    display: none;
    width: 500px;
    padding: 5rem;
  }
  .header{
    h1{
      padding-top: 20rem;
      padding-left: 6rem;
      padding-right: 3rem;
      font-size: 80px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #B0CEFC;
    }
    .search-bar{
      padding: 1rem;
      margin: auto;
      margin-top: 1rem;
      border: #a0bbbd 1px solid;
      border-radius: 10px;
      display: flex;
      outline: none;
      font-size: 20px;
    }
    
  }
  img{
    display: none;
  }
}

main{
  display: flex;
}
.home-button{
  padding: 1rem;
  margin: 3rem;
  border: #a0bbbd 1px solid;
}

.container{
  background-color: transparent;
  padding: 1rem;
}


.flags{
  display: grid;
  border-radius: 1rem;
  margin: auto;
  margin-top: 1rem;
  width: 100px;
  height: 60px;
  background-color: transparent;
}

.country-list{
  border-radius: 10px;
}
.country-list, .card, .card p{
  display: grid;
  justify-content: center;
  color: #021517;

  p{
    padding: 1rem;
    background-color: transparent;
  }
}
.card, .card-container{
  background-color: #a0bbbd;
}

.card-container:hover{
  border-radius: 10px;
  background-color: #7f9192;
}

section.container{
  position: absolute;
  background-color: transparent;
  display: grid;
  
  .nav-bar{
    background-color: #021517;
    padding: 1.5rem;
    
    .menu{
      border-radius: 10px;
      background-color: transparent;
      padding-bottom: 1rem;

    }
  }
  .buttons button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    background-color: transparent;
  }
}

.displays-buttons{
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #a0bbbd;
  margin: 1rem;
  width: 150px;
  box-shadow: 0.5rem 0.5rem;
}

.displays-buttons:hover{
  transition: all 0.3s ease;
  background-color: #a0bbbd;
  color: #021517;
  box-shadow: 0.5rem 0.5rem #043f46;
}

.title-flag{
  display: grid;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  h1{
    padding: 1rem;
    margin: auto;
    font-size: 40px;
    background-color: transparent;
  }
  img{
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem #13909e;
  }
}

.basic-country-informations,
.geographical-data,
.political-admin-data,
.eco-demo-data,
.cultural-data{
  display: grid;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #a0bbbd;
  border-radius: 10px;
  margin: 1rem;
  div{
    padding: 1rem;
  }
  h1{
    font-size: 30px;
  }
  span{
    font-size: 30px;
  }

}

.datas{
  transition: all 0.3s ease;
  display: grid;
  justify-content: center;
  padding: 1rem;
}

// RESPONSIVE

@media (width > 200px){

  .country-list{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: #a0bbbd;
    padding: 2rem;
    height: max-content + 500rem;
    width: 1900px;
    .card{
      width: 300px;
      height: max-content
    }
  }
  .img{
    margin: 10rem;
  }
}


@media (width > 900px) {

  .title-flag{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    h1{
      font-size: 100px;
      
    }
    img{
      width: 500px;
    }
  }

  .datas{
    display: flex;
    justify-content: left;
}
}

@media (width > 1000px){

  .country-list{
    display: flex;
    flex-wrap: wrap;
  }
  header .planet{
    display: initial;
  }
  header .img{
    display: flex; 
  }
}