@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", bold;
  font-size: medium;
}

body{
  background-color: #181818;
}

.links{
  color: aliceblue;
  text-decoration: none;
}

.lists{
  display: grid;
  justify-content: center;
  list-style: none;
}

button{
  color: black;
  background-color: transparent;
  border: 1px solid aliceblue;
  padding: 1rem;
  margin: 1rem;
}

.country{
  display: inline-flex;
  justify-content: center;
  max-width: 15rem;
  background-color: azure;
  margin: 1rem;
  padding: 1rem;
}
